.card {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;

    width: 256px;
    min-height: 220px;

    .card-img {
        width: 256px;
        height: 144px;
        object-fit: cover;
        border-radius: 8px;
    }

    .card-description {
        h3 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
        }

        .details {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding-top: 10px;

            .location,
            .photographer {
                display: flex;
                flex-direction: row;
                gap: 5px;
                align-items: center;

                .logo {
                    display: flex;
                }
            }
        }
    }
}