* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  background: linear-gradient(45deg, #A5B4FC 0%, #0B3D91 48.96%, #312E81 100%) no-repeat;


  .wrapper {
    color: #fff;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
}