.results {
  font-size: 24px;
  font-family: Inter;
  font-weight: 500;
  line-height: 100%;
  padding: 24px 0;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  padding: 20px 0;
}