.gallery {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .results {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    line-height: 100%;
    padding: 0 10px;

    p {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    b {
      padding: 10px;
      background-color: #096BDE;
      border-radius: 10px;
    }
    .size-cards {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 18px;
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }
  .css-1oj2twp-MuiPagination-root {
    margin: 0 auto;
    padding-bottom: 20px;
  }
}

@media (min-width: 550px) and (max-width: 950px) {
  .results {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
  }
  .description {
    font-size: 40px;
    padding: 0 10px;
  }
}

@media (min-width: 320px) and (max-width: 549px) {
  .css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root {
      padding: 0;
  }
  .results {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
      p {
        font-size: 14px;
      }
      .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
        padding: 5px 10px;
      }
  }
  .description {
    font-size: 30px;
  }
}