.gallery {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .results {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    line-height: 100%;
    padding: 0 10px;

    p {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    b {
      padding: 10px;
      background-color: #312E81;
      border-radius: 10px;
    }
    .size-cards {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 18px;
    }
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
  }
  .css-1oj2twp-MuiPagination-root {
    margin: 0 auto;
    padding-bottom: 20px;
  }
}