.wrapper-details {
  width: 100%;
  min-height: 100vh;
  background: #312E81;

  .wrapper-header,
  .wrapper-main {
    max-width: 1376px;
    margin: 0 auto;

    header {
      display: flex;
      justify-content: space-between;
      padding: 0 10px;
      width: 100%;

      .title-details {
        display: flex;
        width: 100%;

        h3 {
          font-family: 'Inter', sans-serif;
          font-size: 18px;
          font-family: Inter;
          font-weight: 500;
          line-height: 20px;
          color: #fff;
          padding: 27px 5px 27px 10px;
          text-transform: uppercase;
          width: 100%;
        }

        hr {
          width: 1px;
          height: 74px;
          background-color: #818cf8;
        }
      }

      .button-back {
        display: flex;
        align-items: center;
        border-left: 1px solid #818cf8;
        padding-left: 15px;

        .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
          color: #fff;
        }
      }

    }

    main {
      font-family: 'Inter', sans-serif;
      display: flex;
      flex-wrap: wrap;
      padding: 32px 10px 20px 10px;
      gap: 24px;
      color: #fff;

      h4 {
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        line-height: 24px;
      }
      p {
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-family: Inter;
        font-weight: 500;
        line-height: 20px;
        color: #fff;
      }
      .img-keywords {
        display: flex;
        flex-direction: column;
        width: 60%;

        .image {
          width: 100%;
          height: auto;
          border-radius: 11px;
          object-fit: cover;
        }
        .wrapper-keywords {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          gap: 15px;
          width: 70%;
          padding: 20px;

          .keywords {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            width: 70%;

            .keyword {
              border: 1px solid #fff;
              padding: 5px;
            }
          }
        }
      }
      .metadata {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 30%;

          .photographer,
          .date-created {
            display: flex;
            justify-content: space-between;
          }

          h5 {
            font-size: 14px;
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            line-height: 20px;
            color: #d1d5db;
          }

          .wrapper-description {
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding-top: 10px;

              .description {
                font-size: 16px;
                gap: 15px;
                max-width: 90%;
              }
              .text-descr {
                color: #fff;
              }
          }
      }
    }
  }
}

@media(min-width: 600px) and (max-width: 1100px) {
    .wrapper-details {
      .wrapper-main {
        main {
          display: flex;
          flex-direction: column;

          .img-keywords {
            width: 100%;

            .image {
              width: 70%;
            }

            .wrapper-keywords {
              width: 100%;
              .keywords {
                flex-wrap: wrap;
                width: 100%;
              }
            }
          }

          .metadata {
            width: 100%;
          }
        }
      }
    }
}

@media(min-width: 320px) and (max-width: 599px) {
  .wrapper-details {
    .wrapper-header {
      header {

        .title-details {
          h3 {
            font-size: 14px;
            padding: 7px;
          }
        }
      }
    }
    .wrapper-main {
      main {
        gap: 5px;

        .img-keywords {
          flex-direction: column;
          width: 100%;
          align-items: center;

          .image {
            width: 80%;
            object-fit: contain;
          }

          .wrapper-keywords {
            width: 100%;
            padding: 10px;

            .keywords {
              flex-wrap: wrap;
              justify-content: center;
              width: 100%;

              .keyword {
                font-size: 10px;
              }
            }
          }
        }

        .metadata {
          width: 100%;
        }
      }
    }
  }
}

@media(min-width: 320px) and (max-width: 480px) {
  .wrapper-details {
    .wrapper-main {
      main {
        h4 {
          font-size: 14px;
        }
        .metadata {
          h5 {
            font-size: 12px;
          }

          .wrapper-description {
            p {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}