.wrapper-details {
  width: 100%;
  background: #312E81;

  .wrapper-header,
  .wrapper-main {
    max-width: 1376px;
    margin: 0 auto;

    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 10px;

      .title-details {
        display: flex;
        flex-direction: row;

        h3 {
          font-family: 'Inter', sans-serif;
          font-size: 18px;
          font-family: Inter;
          font-weight: 500;
          line-height: 20px;
          color: #fff;
          padding: 27px 0 27px 0;
          text-transform: uppercase;
        }

        hr {
          width: 1px;
          height: 74px;
          border-top-color: #818CF8;
          border-right-color: #818CF8;
          border-bottom-color: #818CF8;
          border-left-color: #818CF8;
          background-color: #818CF8;
        }
      }

      .button-back {
        display: flex;
        align-items: center;
        border-left: 1px solid #818CF8;
        padding-left: 15px;

        .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
          color: #fff;
        }
      }

    }

    main {
      font-family: 'Inter', sans-serif;

      display: flex;
      flex-direction: row;
      padding: 32px 10px 0 10px;
      gap: 24px;
      color: #fff;

      h4 {
        font-size: 16px;
        font-family: Inter;
        font-weight: 500;
        line-height: 24px;
      }

      p {
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-family: Inter;
        font-weight: 500;
        line-height: 20px;
      }

      .img-keywords {
        display: flex;
        flex-direction: column;

        .image {
          width: 100%;
          height: auto;
          border-radius: 11.335px;
          object-fit: cover;
        }

        .wrapper-keywords {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          gap: 15px;
          width: 70%;
          padding: 20px;

          .keywords {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            width: 70%;

            .keyword {
              border: 1px solid #fff;
              padding: 5px;
            }
          }
        }
      }

      .metadata {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;

          .photographer, 
          .date-created {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          h5 {
            font-size: 14px;
            font-family: Inter;
            font-weight: 500;
            line-height: 20px;
            color: #D1D5DB;
          }

          .wrapper-description {
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding-top: 10px;
            
              .description {
                font-size: 16px;
                gap: 15px;
                max-width: 400px;
              }
          }
      }
    }
  }
}