.date-filter {
  display: grid;
  grid-template-columns: 60px 270px 60px;
  justify-items: center;
  gap: 10px;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 10px;
  border-color: #096BDE;

  .date-pickers {
    display: flex;
    gap: 10px;

    .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
      color: #fff;
    }
  }

  .btn-filter {
    width: 50px;
    height: 50px;
  }

  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root,
  .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root,
  .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root,
  .css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
    color: #fff;
  }
}

@media (max-width: 480px) and (min-width: 320px) {
  .date-filter {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    padding: 10px 5px;
    .date-pickers {
      grid-column: 1 / span 2;

      .css-1lkpf4l-MuiYearCalendar-root {
        width: 250px;
      }
    }
    .btn-filter-search {
      width: 25px;
      height: 25px;
    }
    .btn-filter-clear {
      grid-row: 2;
      width: 25px;
      height: 25px;
    }
  }
}