.date-filter {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 10px;

  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root,
  .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root,
  .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root,
  .css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root {
    color: #fff;
  }

  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    max-width: 130px;
  }
}