.search-wrapper {
  font-family: 'Inter', sans-serif;
  font-size: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 32px;

  b {
    background-color: rgb(49, 46, 129);
    padding: 5px;
    border-radius: 5px;
  }
}